* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #6362622c;
    display: flex;
    flex-direction: column;
}

/*---------HEADER--------*/
header {
    width: 100%;
    background-color: rgba(5, 30, 143, 0.973);
    align-items: center;
    padding: 16px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

}

header, .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1, .menu-hamburguer {
    left: 0;
}

.menu {
    align-items: center;
}

.menu-hamburguer {
    display: flex;
    flex-direction: column;
    width: 25px;
    cursor: pointer;
}

.menu-hamburguer span {
    background-color: #fff;
    height: 2px;
    width: 100%;
    margin-bottom: 4px;
}

nav {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
}

nav.open {
    height: auto;
}

h1, h1 a{
    color: #fff;
}

header ul li {
    margin-left: 16px;
    list-style: none;
    display: inline;
    padding-left: 15px;
    text-transform: uppercase;
}

a { /*Retirei a decoração de todos os links da página*/
    text-decoration: none;
}

#link-sports {
    color: rgb(18, 181, 37);
}

#link-economy {
    color: rgb(171, 5, 41);
}

#link-games {
    color: rgb(151, 40, 221);
}

#link-tech {
    color: rgb(48, 107, 195);
}
/*---------HEADER------------*/

/*---------CONTEÚDO--------*/
.container {
    margin: auto;
    width: 900px;
}

h2 {
    text-align: center;
    padding: 20px;   
    border-bottom: 3px solid rgba(37, 37, 40, 0.232);
    border-top: 3px solid rgba(37, 37, 40, 0.232);
}

p {
    text-align: justify;
}

img {
    width: 100%;
    height: 300px;
}
/*---------CONTEÚDO---------*/

/*-----------RODAPÉ -----------*/
.rodape {
    background-color: rgba(5, 30, 143, 0.973);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo */
    position: relative; /* Permite o posicionamento absoluto do parágrafo */
    padding: 10px 20px; /* Espaço ao redor */
}

.rodape p {
    color: #fff;
    font-size: 18px;
    margin: 0; /* Remove margem do parágrafo */
    position: absolute; /* Permite centralizar o parágrafo */
    left: 50%; /* Move para o centro */
    transform: translateX(-50%); /* Centraliza */
}

.rodape .social-icons {
    display: flex; /* Para alinhar os ícones */
    position: absolute; /* Permite que os ícones fiquem à direita */
    right: 20px; /* Distância da borda direita */
}

.rodape a {
    text-decoration: none;
    margin-left: 10px; /* Espaço entre os ícones */
}

.rodape img {
    height: 40px; /* Altura dos ícones */
}