* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

/*---------HEADER--------*/
header {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba(138, 138, 153, 0.399);
    background-color: rgba(9, 10, 9, 0.091);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 a{
    color: #000;
}

header ul li {
    display: inline;
    padding-left: 15px;
    text-transform: uppercase;
}

a { /*Retirei a decoração de todos os links da página*/
    text-decoration: none;
}

#link-sports {
    color: rgb(18, 181, 37);
}

#link-economy {
    color: rgb(171, 5, 41);
}

#link-games {
    color: rgb(151, 40, 221);
}

#link-tech {
    color: rgb(48, 107, 195);
}
/*---------HEADER------------*/

/*---------CONTEÚDO--------*/
.container {
    margin: auto;
    width: 900px;
}

h2 {
    text-align: center;
    padding: 20px;   
    border-bottom: 3px solid rgba(37, 37, 40, 0.232);
    border-top: 3px solid rgba(37, 37, 40, 0.232);
}

p {
    text-align: justify;
}

img {
    width: 100%;
    height: 300px;
}
/*---------CONTEÚDO---------*/

/*-----------RODAPÉ -----------*/
.rodape {
    height: 40px;
    background-color: rgba(23, 25, 24, 0.294);
}

.rodape p {
    border-top: 2px solid rgba(138, 138, 153, 0.399);
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
}
/*----------RODAPÉ------------*/